<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134290931270-8s0t808v9m17gtplcqn1kd2ufnnkgp5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134290931270-8s0t808v9m17gtplcqn1kd2ufnnkgp5s</string>
	<key>API_KEY</key>
	<string>AIzaSyD1RUWnMe2QhaqFGKw00aY7gQp6VuygMoI</string>
	<key>GCM_SENDER_ID</key>
	<string>134290931270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robert-nian.LiveStreamingPractice</string>
	<key>PROJECT_ID</key>
	<string>livestreamingpractice</string>
	<key>STORAGE_BUCKET</key>
	<string>livestreamingpractice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134290931270:ios:156b8cd1c155ed8579d447</string>
</dict>
</plist>